/* CSS Document */

/* reset */
body, p, h1, h2, h3, h4, ul, li, ol{margin:0}
* {box-sizing:border-box}

/* layout */
body{
	margin:0;
	background: url(../images/wood_bg.jpg); 
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif
 }
#wrapper{
	width:1000px; margin:1.3em auto;
}

.col-one-fourth{width:25%;}
.col-three-fourths{width:75%;}
.col-one-half{width:50%;}
.col-one-third{width:33.33%}
.col-two-thirds{width:66.66%}
.col-one-fourth, .col-three-fourths, .col-one-half, .col-one-third, .col-two-thirds{float:left; box-sizing:border-box; padding: 0 20px;}

article, aside {box-sizing:border-box;}


/* typography */
p{padding: .2em 0 .7em 0}
h3{padding: .5em 0;}
header a:link, header a:active, header a:visited{font-weight:bold; color:orange;}


/* sections */
header{
	background-color:brown;
	color:white;
}
#logo{
	float:left;
	padding:1em 1em;
}
#header-right{
	width:250px;
	padding:1em 1em;
	float:right;
	text-align:right;
}
nav{border-bottom: solid 3px orange}
#content{
	background-color: white;
	background-image: url(../images/content-bg.jpg);
	background-repeat: repeat-x;
	padding: 2em 0;
}
footer{
	background-color:#555;
	color:#fff;
	padding:1.3em 0;
}
.copyright{color:gray; font-size:.8em;}


/* page elements */
.pic-small-right{float:right; padding:0 0 .6em .6em;}
.pic-small-left{float:left; padding:0 .6em .6em 0;}


/* Slider --------------*/
#slider{}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}


/* Tools and Tricks ----------- */
.group:after {
  content: "";
  display: table;
  clear: both;
}
.mobile{display:none;}
.fullscreen{display:block}
.pad-vert{padding:1em 0}


/* First Breakpoint - covers all tablets and below - overrides any of the above styles ----------- */
@media only screen and (max-width: 1020px) {
	#wrapper{width:auto; height:auto; margin:1em;}
	.sliderpic{width:100%; height:auto;}
	.pic-small-right, .pic-small-left{width:33%; height:auto;}
}

/* Second Breakpoint - covers all smaller devices - overrides any of the above styles (both sets) ----------- */
@media only screen and (max-width: 600px) {
	.col-one-fourth, .col-three-fourths{width:auto; float:none;}
	#logo, #header-right{width:auto; float:none; text-align:center;}
}

/* Third Breakpoint - covers all portrait phones - overrides any of the above styles (all sets) ----------- */
@media only screen and (max-width: 320px) {
	.pic-small-right{width:100%; padding: .2em 0;}
	.pic-small-left{width:100%; padding: .2em 0;}
}
